<!DOCTYPE html>

<html>
  <head>
    
  </head>
  <body>
    <form method='post' action='/checkout'>
      <input type='text' id='item' name='item[name]'>
      <input type='submit' value='submit' id='submit' name='submit'>
    </form>
  </body>
</html>
